services:

#============#
# BASE IMAGE #
#============#

  base:
    build:
      context: .
      target: core
    pull_policy: if_not_present
    shm_size: '2gb'
    networks:
      bh_net:
        aliases:
          - core
    env_file:
      - path: ./.env
        required: true
      - path: ./config/.env
        required: false
    environment:
      - HOST_PWD=${PWD}
      - BUGHOG_VERSION=${BUGHOG_VERSION}
    volumes:
      - ./config:/app/config:ro
      - ./logs:/app/logs:rw
      - ./nginx/ssl/:/etc/nginx/ssl/:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - /dev/shm:/dev/shm:rw
    profiles:
      - never_start

  #=============#
  # DEVELOPMENT #
  #=============#

  core_dev:
    extends: base
    hostname: bh_core
    ports:
      - "5000:5000"
    image: bh_core_dev
    environment:
      - "DEVELOPMENT=1"
      - "PYTHONPATH=/app:/root/.local/bin"
      - "DISPLAY=:1"
      - "MOZ_DISABLE_CONTENT_SANDBOX=1"
      - "PATH=${PATH}:/$HOME/.local/bin"
    volumes:
      - .:/app:rw
    container_name: bh_core_dev
    profiles:
      - dev

  #============#
  # PRODUCTION #
  #============#

  core:
    extends: base
    image: bughog/core:${BUGHOG_VERSION}
    hostname: bh_core
    container_name: bh_core
    init: true
    ports:
      - "5000:5000"
    profiles:
      - prod

  worker:
    extends: base
    image: bughog/worker:${BUGHOG_VERSION}
    build:
      context: .
      target: worker
    hostname: bh_worker
    container_name: bh_worker
    profiles:
      - prod

  #================#
  # NGINX #
  #================#

  nginx:
    build:
      context: .
      target: nginx
    container_name: bh_nginx
    restart: always
    volumes:
      - ./nginx/ssl/:/etc/nginx/ssl/:ro
      - ./subject/web_browser/experiments/:/www/data/pages/:ro
      - ./subject/web_browser/resources/:/www/data/res/:ro
      - ./logs/:/logs/:rw
      - ./logs/screenshots/:/www/data/screenshots/:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      bh_net:
        aliases:
          - leak.test
          - a.test
          - sub.a.test
          - sub.sub.a.test
          - b.test
          - adition.com
    profiles:
      - prod

  nginx_dev:
    extends: nginx
    container_name: bh_nginx_dev
    environment:
      - "DEVELOPMENT=1"
    profiles:
      - dev

  #================#
  # NODE FRONT END #
  #================#

  node_dev:
    build:
      context: .
      target: ui-build-stage
    networks:
      bh_net:
        aliases:
          - node
    volumes:
      - ./bughog/web/vue/public:/app/public:rw
      - ./bughog/web/vue/src:/app/src:rw
      - ./bughog/web/vue/postcss.config.js:/app/postcss.config.js:rw
      - ./bughog/web/vue/tailwind.config.js:/app/tailwind.config.js:rw
      - ./bughog/web/vue/vite.config.js:/app/vite.config.js:rw
    command: ["npm", "run", "dev", "--", "--host"]
    profiles:
      - dev

networks:
  bh_net:
    name: bh_net
