{% extends 'base.html' %}}

{% block content %}

{% if get_params %}
<h2>Reported: </h2>
<ul>
{% for get_param in get_params %}
    <li>{{ get_param[0] }}: {{ get_param[1] }}</li>
{% endfor %}
</ul>
{% else %}
No GET parameters.
{% endif %}

<h2>Cookies</h2>
<p>Note that the httpOnly cookie is not visible here.</p>
<ul id="cookies"></ul>
<script>
    var elem = document.getElementById("cookies");
    var cookies = document.cookie.split(';');
    for (var i = 0 ; i < cookies.length; i++) {
        var cookie = document.createElement("li");
        cookie.textContent = cookies[i];
        elem.appendChild(cookie);
    }
</script>
{% endblock %}
