#fullscreen, #one, #two, #three, #four, #five, #six {
    position: fixed;
    z-index: 10;
    font-size: 0;
    border: none;
    outline: none;
    resize: none;
}

#fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}

#one, #two, #three, #four, #five, #six {
    width: 25px;
    height: 20px;
}

#one {
    background-color: #800000;
    color: #800000;
    top: 10px;
    left: 10px;
}

#two {
    background-color: #dcbeff;
    color: #dcbeff;
    top: 45px;
    left: 10px;
}

#three {
    background-color: #ffe119;
    color: #ffe119;
    top: 80px;
    left: 10px;
}

#four {
    background-color: #4363d8;
    color: #4363d8;
    top: 10px;
    left: 45px;
}

#five {
    background-color: #f58231;
    color: #f58231;
    top: 45px;
    left: 45px;
}

#six {
    background-color: #000075;
    color: #000075;
    top: 80px;
    left: 45px;
}