# Copy this file to config/.env and change it there if you would like to change your configuration.

# GitHub API token (only requires access to public repositories)
# Used for looking up commit numbers, commit IDs, and release tags.
BUGHOG_GITHUB_TOKEN=

# BugHog service domain name for commit number <-> commit ID conversion and executable search.
# Defaults to the public BugHog service if not set.
BUGHOG_SERVICE_API=https://api.bughog.distrinet-research.be/

# Cache parameters
# All binaries will be cached in the active MongoDB (either a local Docker container, or the one configured below).
BUGHOG_EXECUTABLE_CACHE_LIMIT=0

# Database parameters
# If not set, BugHog will use the local Docker MongoDB container.
BUGHOG_MONGO_HOST=
BUGHOG_MONGO_USERNAME=
BUGHOG_MONGO_PASSWORD=
BUGHOG_MONGO_DATABASE=

# Experiments
# Number of times each experiment is repeated to reduce flakiness.
BUGHOG_EXPERIMENT_TRIES=3
